<td class="{{iconClass}} {{elapsedClass}} Query query">
  {{#if waiting}}
    <i class="icon-lock"></i>
  {{/if}}
  {{#if vacuum}}
    <i class="icon-trash"></i>
  {{/if}}
  {{#if idle}}
    <i class="icon-time"></i>
  {{/if}}
  {{query.elapsed}}
  <div class="popover left">
    <div class="popover-content">
      {{query.query}}
    </div>
    <div class="arrow"></div>
  </div>
</td>