<div id="latest-data">
  <table class="table table-striped latest-data">
    <tbody>

      {{#each sample in controller}}
        {{#sample-row name=sample.name}}
          {{latest-sample queries=sample.latestSample.queries}}
        {{/sample-row}}
      {{/each}}
    </tbody>
  </table>
</div>